body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  width: 300px;
  margin: 0;
  background-color: #EBECED;
  font-family: Arial, sans-serif;
  font-size: 10pt;
}

div.container {
  padding: 0 12px;
}

.circular_icon {
  float: left;
  margin: 9px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: url(hypnotoad.png) no-repeat;
  background-size: contain;
}

h2.title {
  margin-top: 0;
  text-align: left;
  color: #FFF;
  background: #3C424F;
  padding: 10px;
  font-size: 13pt;
  box-shadow: 0 2px 5px gray;
}

hr {
  margin: 12px 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

div.ui-control {
  width: 100%;
  margin-bottom: 3px;
}

div.ui-control input,
div.ui-control label {
  vertical-align: middle;
  margin: 0;
  padding: 3px;
}

div.ui-control.error-state {
  -moz-box-shadow: 0 0 6px red;
  -webkit-box-shadow: 0 0 6px red;
  box-shadow: 0 0 6px red;
  background-color: rgba(255, 0, 0, .6);
  -webkit-transition: box-shadow linear 0.5s, background-color linear 0.5s;
  -moz-transition: box-shadow linear 0.5s, background-color linear 0.5s;
  -o-transition: box-shadow linear 0.5s, background-color linear 0.5s;
  transition: box-shadow linear 0.5s, background-color linear 0.5s;
}

label.fixedWidthSmall {
  display: inline-block;
  width: 120px;
}

input[type=number] {
  display: inline-block;
  text-align: right;
  width: 40%;
}

input[type=range] {
  outline: 0;
  display: inline-block;
  width: 60%;
}

label[for="rngDensity"] {
  display: inline-block;
  width: 55px;
}

#densityFriendlyOutput {
  width: 60%;
  font-size: smaller;
  text-align: center;
  margin-left: 67px;
  font-style: italic;
  margin-top: -7px;
  color: dimgrey;
}

.buttonPanel {
  float: right;
  margin-top: 18px;
  margin-bottom: 12px;
}

div.error {
  position: relative;
  padding-right: 6px;
  margin-top: 12px;
  border-radius: 3px;
  border: 1px solid #f7d9d9;
  background-color: #fdf5f5;
  display: none;
}

div.error-icon-container {
  background-color: #d63f40;
  border-radius: 3px 0 0 3px;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-top: 0;
  position: absolute;
  width: 30px;
  text-align: center;
}

span.error-icon:before {
  content: "\2755";
  color: #fff;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

span.error-content {
  display: block;
  white-space: pre-wrap;
  padding: 15px 10px 15px 60px;
}

ul {
  list-style-type: square;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 6px;
}

.btn {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  height: 31px;
  line-height: 29px;
  text-decoration: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #255BC7;
  color: #255BC7;
  font-weight: bold;
  padding: 0 18px;
  margin-left: 4px;
}

.btn.primary {
  background: #255BC7 none;
  border: 1px solid transparent;
  box-shadow: none;
  color: #FFF;
}

.btn:active,
.btn:hover {
  background: #004089 none;
  border-color: #004089;
  color: #FFF;
  text-decoration: none;
}

.btn:focus {
  -moz-box-shadow: 0 0 6px rgba(25, 99, 246, 0.6);
  -webkit-box-shadow: 0 0 6px rgba(25, 99, 246, 0.6);
  box-shadow: 0 0 6px rgba(25, 99, 246, 0.6);
  -webkit-transition: box-shadow linear 0.1s;
  -moz-transition: box-shadow linear 0.1s;
  -o-transition: box-shadow linear 0.1s;
  transition: box-shadow linear 0.1s;
}

.btn:disabled {
  background: #DBDCDE none;
  border-color: transparent;
  color: #A4A6AA !important;
  cursor: default !important;
}
